body {
  background-color: #e5e5e5;
  background-image: url("image/Topcircles.png");
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
}

.outer-maincont {
  margin: auto;
  background-color: #191765;
  width: 375px;
  min-height: 100vh;
  padding-bottom: 10px;
  color: white;
  }
  
.main-cont {
  display: grid;
  grid-template-columns: auto;
}
